<form method="post" action="<TMPL_VAR NAME=SCRIPT_NAME>">
<table>
<tr>
<td colspan="2" align="center">
<TMPL_VAR NAME=MSG>
&nbsp;
</td>
</tr><TR><TD>
Current Password<br>
</TD><TD>
<input type=password name=passw size=64> <TMPL_VAR NAME=passw_msg>
</TD></TR><TR><TD>
New Password
</TD><TD>
<input type=password name=pass_new size=64> <TMPL_VAR NAME=pass_new_msg>
</TD></TR><TR><TD>
Confirm Password
</TD><TD>
<input type=password name=cpass_new size=64> <TMPL_VAR NAME=cpass_new_msg>
</TD></TR><TR><TD colspan=2>
<input type="hidden" name="action" value="changepw">
<CENTER>
<input type="submit" name="submit" value="Submit">&nbsp;&nbsp;<input type="reset" value="Reset" name="reset">
</CENTER>
</TD></TR></TABLE></form>